ul {
    list-style: none;
    padding: 0rem;
}

.btn {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.todo_list {
    color: aqua;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

